
@model NotepadApp.Models.EditViewModel

@{
    ViewBag.Title = "EditNotePage";
}

<h2>EditNotePage</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(m => m.NoteModel.Title, new { @Class = "form-control" })
        @Html.TextBoxFor(m => m.NoteModel.Title, new { @Class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoteModel.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NoteModel.Content, new { @Class = "form-control" })
        @Html.TextAreaFor(m => m.NoteModel.Content, new { @Class = "form-control" })
        @Html.ValidationMessageFor(m => m.NoteModel.Content)
    </div>
    @Html.HiddenFor(m => m.NoteModel.Id)
    <div class="form-group">
        <input type="submit" value="edytuj" class="btn btn-success" />

    </div>
}